.forum-banner {
    cursor: pointer;
    min-height: 7em;
    position: relative;
}

.forum-banner-author{
    font-size: 0.50em;
}

.upvote-display {
    text-align: center;
    right: 0px;
    margin: 0;    
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.post-text-preview{
    font-size: 0.90em;
}

.post-banner{
    cursor: pointer;
    min-height: 7em;
    position: relative;
    max-height: 8em;
    overflow:hidden
}

.forum-header{
    height: 10em;
    position: relative;   
    font-size: 20px;
    
}

.custom-shadow{
    color: white;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.forum-linktogame{
    position: absolute;
    bottom: 0em;
    left: 0;
}

.forum-center-backround{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.img-wrap {
    width: 70%;
    height: inherit;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
  }
  
  .img-wrap > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  .likeButton {
    color: greenyellow; 
    font-size: 25px;
  }

  .dislikeButton {
    color: lightcoral; 
    font-size: 25px;
  }

  .deleteButton {
    color: lightcoral; 
    font-size: 18px;
  }