.collapse-button{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #34383d;
}
.impressum-container{
    margin: 5px;
    padding: 10px;
}
.title-imprint{
    color: #F3F3F3;
    margin-bottom: 0.6em;
}
.header-imprint{
    margin-top: 1.5em;
}
