$color-grey-lightest: #bdc3c7;
$color-grey-light: #5e6c6d;
$color-grey-dark: #34495e;
$color-grey-darkest: #2c3e50;

$color-primary: #932432;
$color-secondary: #3c1874;
$color-tertiary: #de354c;
$color-white: #F3F3F3;
$color-dark-1: #34383d;
// #283747
$color-dark-2: #1d1d1d;
$color-dark-3: #29292a;

$color-green-lightest: #2ecc71;
$color-green-light: #27ae60;
$color-green-dark: #1abc9c;
$color-green-darkest: #16a085;

$color-blue-light: #1488CC;
$color-blue-dark: #2B32B2;

$color-purple-light: #b700ff;
$color-purple-dark: #7F00FF;

$color-yellow-light: #f1c40f;
$color-yellow-dark: #f39c12;

$color-orange-light: #f79233;
$color-orange-dark: #fc4a1a;

$color-red-light: #ED213A;
$color-red-dark: #93291E;
