.demo-text{
    padding: 10rem 4rem;
    background-color: $color-grey-darkest;
    background-size: cover;
    background-image: linear-gradient(to right, rgba($color-black, 0.75), rgba($color-black, 0.5)),  
    url(../../assets/img/photo-1529448155365-b176d2c6906b.jpg);
    background-position: center;
}