.gradient {
    &-green {
        background-image: linear-gradient(to right, $color-green-darkest, $color-green-lightest);
    }
    &-blue {
        background-image: linear-gradient(to right, $color-blue-dark, $color-blue-light);
    }
    &-purple {
        background-image: linear-gradient(to right, $color-purple-dark, $color-purple-light);
    }
    &-red {
        background-image: linear-gradient(to right, $color-red-dark, $color-red-light);
    }
    &-orange {
        background-image: linear-gradient(to right, $color-orange-dark, $color-orange-light);
    }
    &-yellow {
        background-image: linear-gradient(to right, $color-yellow-dark, $color-yellow-light);
    }
    &-primary {
        background-image: linear-gradient(227deg, #4c2093 65%, #3c1874 65%);
    }
    &-secondary {
        background-image: radial-gradient(lighten($color-secondary, 2%) 25%, lighten($color-secondary, 20%));
    }
    &-primary--reverse {
        background-image: linear-gradient(133deg, #4c2093 65%, #3c1874 65%);
    }
}

.flex {
    display: flex !important;

    &__center {
        justify-content: center;
    }
    &__around {
        justify-content: space-around;
    }
    &__between {
        justify-content: space-between;
    }
    &__evenly {
        justify-content: space-evenly;
    }
    &__wrap {
        flex-wrap: wrap;
    }
}

.no-hyperlink {
    text-decoration: none;
    color: black;
}
.no-hyperlink:hover {
    text-decoration: none;
    color: black;
}
